.btn-consulta {
  font-weight: 600 !important;

  &:hover {
    background-color: map-get($custom-colors, "id-alef-red-400") !important;
  }

  &:active {
    background-color: map-get($custom-colors, "id-alef-red-100") !important;
  }
}
