header {
  img {
    width: auto;
    max-width: 14rem;
    object-fit: contain;

    @media (max-width: 360px) {
      max-width: 9rem;
    }
  }
}

.offcanvas-title {
  width: 4rem;
  height: auto;
}

.nav-link {
  display: flex !important;
  justify-content: space-between !important;

  &:hover {
    text-decoration: underline;
    text-decoration-color: map-get(
      $custom-colors,
      "id-alef-lightblue-500"
    ) !important;
    text-underline-offset: 0.5rem;
  }
}

.bi {
  color: #ff3333;
}
