@import "../variables/variable";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "font-title": (
      property: font-family,
      class: font,
      values: (
        bebas: $font-family-bebas,
        josefin: $font-family-josefin,
      ),
    ),
    "font-size": (
      property: font-size,
      class: fs,
      values: $custom-font-sizes,
    ),
    "font-weight": (
      property: font-weight,
      class: fw,
      values: (
        black: $font-weight-black,
        ultra: $font-weight-ultra,
      ),
    ),
    "background-color": (
      property: background-color,
      class: bg,
      values: $custom-colors,
    ),
    "text-color": (
      property: color,
      class: text,
      values: $custom-colors,
    ),
  )
);

@import "../../../node_modules/bootstrap/scss/utilities/api";
